#header1{
    color: orange;
    background-color: black;
}

#parag1{
    color: chartreuse;
    background-color: black;
}
.button{
    color: black;
    background-color: orange;
    padding: 10px;
    margin-right: 20px;
}

#div1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    justify-content: space-around;

}
#div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-content: space-evenly;
    
}
#parag2{
    color: chocolate;
    font-size: 20px;
    padding: 10px;
}